# Function

In [1]:
expense=0

In [8]:
sam=[1500,2000,5000,4500]
expense=0

for i in sam:
    expense +=i

In [9]:
expense

13000

In [10]:
mayuri=[4400,4000,5500]
expense=0

for i in mayuri:
    expense += i

In [11]:
expense

13900

function defination
function execution
function calling

In [16]:
def add(name):
    expense=0
    for i in name:
        expense += i
    print(expense)
    print(max(name))

In [17]:
add(sam)

13000
5000

In [29]:
akash=[1500,5000,4500,3000,1000,155000,4545]
expense=0

for i in akash:
    expense += i

In [31]:
def add(name):
    expense=0

for i in akash:
    expense += i
    print(expense)

350590
355590
360090
363090
364090
519090
523635

In [37]:
def test(a=20,b=10):
    print(a+b)

In [39]:
test(50,90)

140

In [40]:
def test1(a,b,c,d):
    return a,b,c,d

In [41]:
test1(1,2,3,4)

(1, 2, 3, 4)

In [2]:
def test2(*a): #arguments *args **kwargs(keyword argument)
    return a

In [3]:
test2(1,2,3)

(1, 2, 3)

In [4]:
test2()

()

In [1]:
l1=[1,2,3,4,5,6,87,8,9]

In [11]:
l3=[15,12,14,15]

In [12]:
def aa(*a):
    for i in l3:
        l1.append(i)
        return l1

In [13]:
aa(l3)

[1, 2, 3, 4, 5, 6, 87, 8, 9, 15, 15, 15]

In [14]:
def test1(*d,a,b,c):
    return a,b,c,d

In [15]:
test1(1, 2, 3, 4, 5, 6, 87, 8, 9)

TypeError: test1() missing 3 required keyword-only arguments: 'a', 'b', and 'c'

Types of Functions
1.Function without parameter
2.Function with default parameter
3.Function with parameter
4.Function with return parameter

In [17]:
def display():
    print("This is function without parameter")
display()

This is function without parameter

In [20]:
def test1(a=20,b=10):
    '''this function is used to add two values'''
    print(a+b)

In [18]:
test1()

30

In [26]:
def test2(a,b):
    return a*b

In [24]:
test2(10,50)

500

In [28]:
def test4(**mayu):
    return mayu

In [29]:
test4(a=10,b=20,c=30)

{'a': 10, 'b': 20, 'c': 30}

In [32]:
d={'a': 10, 'b': 20, 'c': 30}

In [33]:
test4(d)

TypeError: test4() takes 0 positional arguments but 1 was given

In [34]:
test4()

{}

Local variable\ Global variable

In [36]:
def display():
    a=10
    print("value of a is:",a)

In [37]:
display()

value of a is: 10

In [38]:
print(a)

NameError: name 'a' is not defined

In [40]:
a=10
def display():
    print("value of a is:",a)
display()

value of a is: 10

In [41]:
a+10

20

In [2]:
n=int(input("Enter a number for table:"))
def table(n):
    for i in range(1,11):
        print(n*i)
table(n)

Enter a number for table:10
10
20
30
40
50
60
70
80
90
100

In [8]:
n=int(input("Enter a number for factorial:"))
def fact(n):
    final=1
    while n>1:
        final*=n
       # print(final)
        n-=1
    return final
fact(n)

Enter a number for factorial:10

3628800

In [9]:
n=int(input("Enter a number for factorial:"))
def fact(n):
    final=1
    while n>1:
        final*=n
        n-=1
    return final

for i in range(1,11):
    print(fact(i))

Enter a number for factorial:10
1
2
6
24
120
720
5040
40320
362880
3628800

In [10]:
def add(a,b):
    return a+b
add(10,20)

30

In [11]:
t=lambda a,b:a+b
t(10,20)

30

In [12]:
t=(1,2,3,4,5,6)
l=[]
for i in t:
    l.append(i)
l

[1, 2, 3, 4, 5, 6]

In [13]:
[i for i in t]

[1, 2, 3, 4, 5, 6]

In [14]:
[i*2 for i in t]

[2, 4, 6, 8, 10, 12]

In [18]:
d={'key':'value','a':100,'b':200}

In [19]:
[i for i in d]

['key', 'a', 'b']

In [20]:
[d[i] for i in d]

['value', 100, 200]

In [21]:
d={'key':'values','name':'sam','age':22,'skill':['python','java','ds']}

In [25]:
def check(abc):
    count=0
    print(abc)
    print(abc.values())
check(d)

{'key': 'values', 'name': 'sam', 'age': 22, 'skill': ['python', 'java', 'ds']}
dict_values(['values', 'sam', 22, ['python', 'java', 'ds']])

In [34]:
def check(abc):
    strcount = 0
    intcount = 0
    print(abc)
    print(abc.values())
    for i in abc.values():
        if type(i) == str:
            s = str.upper(i)
            print(s)
            strcount += 1
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    strcount += 1
    return strcount

In [35]:
check(d)

{'key': 'values', 'name': 'sam', 'age': 22, 'skill': ['python', 'java', 'ds']}
dict_values(['values', 'sam', 22, ['python', 'java', 'ds']])
VALUES
SAM

5